.point1 {
    position: absolute;
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background: rgb(0,72,255, 0.42);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo;
    animation-duration: 1.5s;
   	animation-iteration-count: infinite;
   	animation-direction: alternate-reverse;
    transform-origin: center; 
}
 .point2 {
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background: rgb(0,72,255, 0.5);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo2;
    animation-duration: 1.5s;
   	animation-iteration-count: infinite;
   	animation-direction: alternate-reverse;
    transform-origin: center; 
}
 .point3 {
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background:blue;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo3;
    animation-duration: 1.5s;
   	animation-iteration-count: infinite;
   	animation-direction: alternate-reverse;
    transform-origin: center; 
}
@keyframes creciendo {
    from {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
    }
    to {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(1.5);
    }
}
@keyframes creciendo2 {
    from {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0);
    }
    to {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.7);
    }
}
@keyframes creciendo3 {
    from {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.5);
    }
    to {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.5);
    }
}