.current-data{
    border-radius: 24px 24px 0px 0px;
   /* width: 390px;*/
    width:100%;
    height: 548px;
    position: fixed;
    z-index: 1000;
    bottom: -50px;
    background-image: url("./../resources/img/sectores-ulsa/image.png");
    background-position: center;
    background-size: cover;
    animation-name: deslizar;
    animation-duration: 900ms;
    animation-fill-mode: both;
}
.current-data > div{
    padding: 24px;
    border-radius: 24px 24px 0px 0px;
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.2) 0%, rgb(0,0,0,1) 100%);
    height: 100%;
}
.current-data-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}
.title-current-data-header{
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    height: min-content;
}
.title-current-data-sector{
    font-size: 32px;
    font-weight: bold;
    width: 256px;
    line-height: normal;
    color: var(--text-color);
}

.value-current-data{
    font-size: 84px;
    font-weight: bold;
    color: var(--text-color);
}
.selected-current-data{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.selected-current-data>div:first-child{
    display: flex;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.selected-current-data>div:last-child>p{
    display: flex;
    height: 102px;
}
.icon-current-data{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.slider-dts{
    margin-top: 24px;
    border-radius: 12px;
    height: 212px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: black;
    
}
#btn-close-current-data{
    width: 43px;
    height: 43px;
    font-size: 28px;
    color: var(--view-title);
    background-color: rgb(217, 217, 217, 0.07);
    border:none;
    border-radius: 12px;
}
.slider-dts > div{
    margin: 18px;
    display: flex;
    width: min-content;
}
.target-current-data{
    margin-right: 24px;
    border-radius: 12px;
    background-size: cover;
    border: #67676782 1px solid;
}
.target-current-data > div{

    width: min-content;
    margin: 0px;
    width: calc(200px - 32px);
    height: calc(175px - 32px);
    border-radius: 12px;
    padding: 16px;
    background: #000000;
}
.target-current-data-value, .target-current-data-title{
    color: var(--text-color);
    font-weight: bold;
    margin: 0px;
}
.target-current-data-title{
    font-size: 16px;
}
.target-current-data-value{
    font-size: 48px;
}
.grafico-dts{
    height: 48px;
    width: 100%;
    display: flex;
}
canvas {
    scale: 1;
}
@keyframes deslizar {
    from{
        bottom: -550px;
    }to{
        bottom: -40px;
    }
    
}