.options-section{
    margin: 48px;
    margin-bottom: 24px;
}

.option-section > h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: var(--view-title);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-self: flex-start;
}
.option-section > h1 > span {
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: var(--view-title);
}

.btn-option{
    border-radius: 4px;
    height: 43px;
    width: 89px;
    border: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 12px;
}
.option-section-btn{
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}
.lista-leyenda, .title-current-data-header{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: var(--view-title);
    font-size: 12px;
    font-weight: bold;
}
.lista-leyenda > li{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.lista-leyenda > li > img{
    width: 24px;
    margin-right: 6px;
}

.box-map{
    width: 100vw;
    height: 50vh;
    overflow-y: scroll;
}
footer{ 
    position: fixed;
    bottom: 12px;
    color: var(--view-title);
    font-size: 16px;
    font-weight: 200;
    left: calc(50% - 77.5px);
    width: 155px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    align-items: center;
}
.box-title-sector{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.title-sector{
    color: var(--text-color);
    font-size: 10px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.box-title-sector > img {
    width: 24px;
}
.opacity{
    opacity: 0.7;
}