.point1 {
    position: absolute;
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background: rgb(0,72,255, 0.14);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo;
    animation-duration: 2s;
   	animation-iteration-count: infinite;
   	/*animation-direction: alternate-reverse;*/
    transform-origin: center; 
}
 .point2 {
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background: rgb(0,72,255, 0.29);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo2;
    animation-duration: 2s;
   	animation-iteration-count: infinite;
   	/*animation-direction: alternate-reverse;*/
    transform-origin: center; 
}
 .point3 {
    height: 94px;
    width: 94px;
    border-radius: 50%; /* Se usa 50% para hacerlo completamente redondo */
    background:rgba(0, 72, 255, 0.35);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    animation-name: creciendo3;
    animation-duration: 2s;
   	animation-iteration-count: infinite;
   	/*animation-direction: alternate-reverse;*/
    transform-origin: center; 
}
@keyframes creciendo {
    from {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
    }
    to {
        background: rgba(0, 72, 255, 0);
        transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(1.5);
    }
}
@keyframes creciendo2 {
    from {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0);
    }
    to {
         background: rgba(0, 72, 255, 0);
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.7);
    }
}
@keyframes creciendo3 {
    from {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.5);
    }
    to {
         background: rgb(0,72,255, 0);
        transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg) scale(0.5);
    }
}