:root{
    --main-color: #151515;
    --text-color: #FFFFFF;
    --text-color-secondary: rgb(255,255,255,0.63);
    --view-title: rgb(186,186,186, 0.56);
    --black-transparent: #262626;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    /* ocultar barra scrool*/
    scrollbar-width: none;
}
body{
    background-color: var(--main-color);
}
.title{
    color: var(--text-color);
    font-weight: 900;
}
.text{
    color: var(--text-color-secondary)
}
b{
    color: var(--text-color)
}

.more-information{
    position: absolute;
    top: 0px;
    background-color: var(--text-color);
    width: 100%;
    height: 100vh;
    z-index: 100;
    text-align: left;
    overflow: scroll;
}
.more-information > div {
    margin: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-information > div  > img {
    margin-bottom: 32px;
    animation-name: scaleImg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-direction: alternate-reverse;
}
.black-title{
    color: rgba(0, 0, 0, 0.714) !important;
    font-size: 36px;
    margin-bottom: 12px;
}
.information{
    font-size: 14px;
    color: var(--black-transparent) !important;
}
.information > li > span{
    font-weight: bold;
}
.information > li{
    margin-top: 8px;
}
h3{
    color: rgba(0, 0, 0, 0.714) !important;
    margin-top: 32px;
    margin-bottom: 12px;
}
a{
    font-size: 12px;
}
ul{
    list-style: none;
}
.integrantes{
    font-size: 16px;
    color:rgba(0, 0, 0, 0.714);
    font-weight: 600;
}
.integrantes > li {
    margin: 4px;
}
.close-btn{
    background-color: rgba(255, 255, 255, 0.162);
    border: none;
    width: 43px;
    height: 43px;
    right: 12px;
    top: 12px;
    position: absolute;
    color: #ffffffd0;
    font-weight: 400;
    font-size: 24px;
    border-radius: 12px;
}
@keyframes scaleImg{
    from{
        transform: scale(0.9);
        
    }
    to{
        transform: scale(1);
    }
}
.loading-container{
    animation-name: aparicionv2;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    width: min-content;
    position: relative;
    top: calc(40vh - calc(71px/2));
    left:calc(50% - calc(71px/2));
}
.loading-img-container{
    display: flex;
    overflow: hidden;
    width: 71px;
    height: 71px;
    border-radius: 100%;
}
.loading-img{
    width: 124px;
    height: 124px;
    position: relative;
    left: -26px;
    top: -28px;
    object-fit: cover;
    border-radius: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aparicionv2 {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .value-current-data-air{
    font-size: 2rem;
  font-weight: 100;
  }